<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="off" monitorInterval="1800">

    <properties>
        <property name="LOG_HOME">/log/logs</property>
        <property name="ERROR_LOG_FILE_NAME">error</property>
    </properties>


    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <!--控制台只输出level及以上级别的信息（onMatch），其他的直接拒绝（onMismatch）-->
            <ThresholdFilter level="trace" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="%d %-5p (%F:%L) - %m%n"/>
        </Console>

        <RollingRandomAccessFile name="CtrlErrorLog"
                                 fileName="${LOG_HOME}/ctrl.${ERROR_LOG_FILE_NAME}.log"
                                 filePattern="${LOG_HOME}/ctrl.${ERROR_LOG_FILE_NAME}.log.%d{yyyy-MM-dd}.gz">
            <ThresholdFilter level="warn" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="%d %-5p (%F:%L) - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingRandomAccessFile>

        <RollingRandomAccessFile name="BusiErrorLog"
                                 fileName="${LOG_HOME}/busi.${ERROR_LOG_FILE_NAME}.log"
                                 filePattern="${LOG_HOME}/busi.${ERROR_LOG_FILE_NAME}.log.%d{yyyy-MM-dd}.gz">
            <ThresholdFilter level="warn" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="%d %-5p (%F:%L) - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingRandomAccessFile>

    </Appenders>

    <Loggers>
        <!-- 3rdparty Loggers -->
        <logger name="org.springframework.core" level="info">
        </logger>
        <logger name="org.springframework.beans" level="info">
        </logger>
        <logger name="org.springframework.context" level="info">
        </logger>
        <logger name="org.springframework.web" level="info">
        </logger>

        <!--业务日志-->
        <logger name="com.bing.bingblog.busi.service" level="trace" includeLocation="true" additivity="true">
            <appender-ref ref="BusiErrorLog"/>
        </logger>

        <!--控制层日志-->
        <logger name="com.bing.bingblog.web.ctrl" level="trace" includeLocation="true" additivity="true">
            <appender-ref ref="CtrlErrorLog"/>
        </logger>

        <root level="trace" includeLocation="true">
            <appender-ref ref="Console"/>
        </root>
    </Loggers>
</Configuration>